.ldsRingWrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.innerWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}
.ldsRing {
    display: inline-block;
    position: relative;
    width: 61px;
    height: 61px;
}
.text {
    font-size: 22px;
    font-weight: 400;
}
.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 8px;
    border: 5px solid;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}